@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');


body {
    margin: 0px;
    font-family: 'Helvetica Neue', sans-serif;
                                                
}

.navbar {
    padding: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 14px 0px 0px #00754a;
    -webkit-box-shadow: 0px 14px 0px 0px #00754a;
    -moz-box-shadow: 0px 14px 0px 0px #00754a;
}

.navbar-left svg {
    width: 50px;
    margin-right: 20px;
}

.navbar-left {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left div:hover, 
.find-a-store div:hover {
    color: #00754a;
}

.navbar-left > *,
.navbar-right > * {
    margin: 10px;
}

.find-a-store {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    margin-right: 10px;
}

.sing-in,
.join-now {
    font-weight: 700;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px 40px 10px 40px;
}

.join-now {
    background-color: black;
    color: white;
}

.join-now:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.sing-in:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.product img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

.product {
    display:flex;
}

.product-left,
.product-right {
    max-width: 50%;
    width: 50%;
}

.product-title,
.product-description,
.product-title3,
.product-description3 {
    width: 100%;
    text-align:start;
    color: #1e3932;
    margin: 50px;
}


.product-description,
.product-description3 {
    font-size: 20px;
    line-height: 30px;
}


.product-title {
    font-size: 25px;
    line-height: 10px;
}

.product-title3 {
    font-size: 25px;
    line-height: 30px;
}

.product-container {
    margin: 40px 0px 40px 0px;
    align-items: center;
    justify-content: center;
}

.product-button {
    border: 1px solid #1e3932;
    max-width: max-content;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    color: #1e3932;
    margin: 50px;
}

.product-button3 {
    border: 1px solid #1e3932;
    max-width: max-content;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
    color: #1e3932;
    margin: 5px;
}

.product-button:hover,
.product-button3:hover {
    background-color: rgba(30,57,50,.1);
}

.product-button2,
.product-button4 {
    border: 1px solid white;
    max-width: max-content;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
    color: white;
    margin: auto;
}

.product-button2:hover,
.product-button4:hover {
    background-color: hsla(0,0%,100%,.12);
}

.product-description2,
.product-title2,
.product-description4,
.product-title4 {
    padding: 30px 60px 30px 60px;
    color: white;
}

.product-description2,
.product-description4 {
    font-size: 30px;
    line-height: 40px;
    margin: 5px;
    text-align: center;
}

.product-title2,
.product-title4 {
    font-size: 30px;
    line-height: 40px;
    margin: 10px;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style:symbols(⭆);
}

.footer {
    background-color: #00754a;
    padding: 70px 0px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-left: 30px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li {
    margin-left: 30px;
    list-style-type:none;
}

.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #8b323e;
    text-decoration: none;
    font-weight: 300px;
    color: #ffdd30;
    display: block;
}

.footer-col ul li a:hover {
    color: #fbe98e;
}

.footer-col h4 {
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    background-color: #fbe98e;
    height: 3px;
    box-sizing: border-box;
    width: 70px;
}

.social-media {
    margin: 80px 0px 0px 45px;
}

.social-media a{
    display: inline-flex;
    width: 60px;
    height: 60px;
    background-color: white;
    color: #ffdd30;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 40px;
    margin-right: 10px;
}

.social-media a:hover {
    background-color: #fbe98e;
}